@import "_variables";
* {
  box-sizing: border-box;
}
nav {
  background-color: #f9f5f2;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  top: 0;
  div {
    width: 30vw;
  }
}
.nav-left {
  font-size: 65px;
  margin-top: 8px;
}
.nav-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 1px;
  &:hover {
    font-weight: 600;
  }
}
.nav-center {
  width: 180px;
  display: flex;
  justify-content: space-between;
}
.round {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  &:first-child {
    background-color: $color1;
  }
  &:nth-child(2) {
    background-color: $color2;
  }
  &:nth-child(3) {
    background-color: $color3;
  }
  &:nth-child(4) {
    background-color: $color4;
  }
  &:nth-child(5) {
    background-color: $color5;
  }
  &:nth-child(6) {
    background-color: $color6;
  }
  &:nth-child(7) {
    background-color: $color7;
  }
  &:nth-child(8) {
    background-color: $color8;
  }
}
main {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 38vh);
}
.half-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.photo {
  width: 74%;
  height: 26vh;
  margin-top: 6vh;
  background-size: cover;
  background-position: center;
  background-image: url("https://source.unsplash.com/random/1");
}
.half-photo:first-child {
  background-color: randomColor();
  & > div:first-child {
    background-size: cover;
    background-position: center;
    background-image: url("https://source.unsplash.com/random/3");
  }
}
.half-photo:nth-child(2n) {
  background-color: randomColor();
  & > div:first-child {
    background-size: cover;
    background-position: center;
    background-image: url("https://source.unsplash.com/random/4");
  }
}
.half-photo:nth-child(3n) {
  background-color: randomColor();
  & > div:first-child {
    background-size: cover;
    background-position: center;
    background-image: url("https://source.unsplash.com/random/5");
  }
}
.half-photo:nth-child(5n) {
  background-color: randomColor();
  & > div:first-child {
    background-size: cover;
    background-position: center;
    background-image: url("https://source.unsplash.com/random/7");
  }
}
.half-photo:nth-child(7n) {
  background-color: randomColor();
  & > div:first-child {
    background-size: cover;
    background-position: center;
    background-image: url("https://source.unsplash.com/random/5");
  }
}
.half-photo:nth-child(11n) {
  background-color: randomColor();
  & > div:first-child {
    background-size: cover;
    background-position: center;
    background-image: url("https://source.unsplash.com/random/6");
  }
}
.half-photo:nth-child(13n) {
  background-color: randomColor();
  & > div:first-child {
    background-size: cover;
    background-position: center;
    background-image: url("https://source.unsplash.com/random/8");
  }
}
.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 4px;
  div {
    width: 30%;
    text-align: center;
  }
}
.full-photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("https://source.unsplash.com/random/2");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer {
  width: 100%;
  height: 21vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 6vh;
  background-color: #f9f5f2;
  button {
    width: 174px;
    height: 45px;
    border-radius: 20px;
    border: none;
    font-size: 26px;
    font-weight: 300;
    background-color: #efe5d8;
    &:hover {
      background-color: $color1;
    }
  }
  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    div {
      width: 10%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      margin-bottom: 6px;
      a {
        text-decoration: none;
        color: black;
        font-weight: 300;
        margin-bottom: 6px;
      }
    }
  }
}
