* {
  box-sizing: border-box;
}
main,
nav {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 72px;
  width: 100%;
}
nav {
  background-color: white;
  height: 4vh;
  position: fixed;
  top: 0;
  div {
    display: flex;
    align-items: center;
    font-size: 14px;
    letter-spacing: 1px;
    a {
      text-decoration: none;
      color: black;
      font-weight: 400;
      &:hover {
        color: #394f4c;
      }
    }
  }
}
.nav-left {
  margin-left: 20px;
  font-weight: 600;
  span {
    color: rgb(129, 127, 127);
    margin-left: 6px;
  }
  &:hover {
    color: #394f4c;
    span {
      color: #394f4c;
    }
  }
}
.menu {
  display: flex;
  justify-content: space-between;
}
