body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 7.8fr 1fr;
  gap: 1px;
  background-color: #b37e3d;
  color: #b37e3d;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 1px;
}
nav,
section {
  display: grid;
  grid-template-rows: 1.3fr repeat(5, 1fr) 1.3fr;
  gap: 1px;
  background-color: #b37e3d;
  & > * {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
nav div {
  &:hover {
    background-color: #b37e3d;
    color: white;
  }
}
nav div:last-child,
.nav-left div:first-child {
  &:hover {
    background-color: white;
    color: #b37e3d;
  }
}
.photo {
  grid-row: 2 / span 5;
}
