* {
  box-sizing: border-box;
}
body {
  background-color: gainsboro;
}
nav {
  position: fixed;
  top: 0;
  height: 48px;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.left {
  display: grid;
  grid-template-columns: 0.8fr repeat(4, 1fr);
  a {
    font-size: 30px;
    color: black;
    text-decoration: none;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
  a:first-child ~ a {
    color: #e0e1e2;
  }
  &:hover {
    background-color: #e0e1e2;
    a:first-child ~ a {
      color: white;
    }
  }
  a:first-child:hover {
    color: white;
    & ~ a {
      color: black;
    }
  }
}
