* {
  box-sizing: border-box;
}
body {
}
nav {
  position: fixed;
  top: 0;
  height: 48px;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.left {
  display: grid;
  grid-template-columns: 0.8fr repeat(4, 1fr);
  a {
    font-size: 30px;
    color: black;
    text-decoration: none;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
  a:first-child ~ a {
    color: #e0e1e2;
  }
  &:hover {
    background-color: #e0e1e2;
    a:first-child ~ a {
      color: white;
    }
  }
  a:first-child:hover {
    color: white;
    & ~ a {
      color: black;
    }
  }
}
.right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  &:hover {
    background-color: #e0e1e2;
  }
  a {
    margin-left: 15px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 30px;
  }
  a:last-child {
    font-size: 14px;
    align-self: flex-end;
    justify-self: end;
    margin-right: 20px;
    margin-bottom: 12px;
  }
}
section {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6, minmax(270px, 1fr));
}
article {
  display: grid;
  grid-template-rows: 1fr 0.12fr;
}
.photo {
  background-image: url("http://www.z-o-o.fr/thumbs/works/quai-branly-paris/slide_quai_branly-1-800x533-q80.jpg");
  background-position: center;
  background-size: cover;
}
.info {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  margin-left: 15px;
}
